    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="assets/images/crop-ball.gif" height="60" id="smallball"></img></a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav navbar-form">
                    <form class="navbar-form pull-right">
                        <button class="btn btn-default g-signin2" data-onsuccess="queryReports"></button>
                    </form>
               
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="/customer"><i class="fa fa-fw fa-users"></i> Customers</a>
                    </li>
                    <li>
                        <a href="/dashboard"><i class="fa fa-fw fa-dashboard"></i> Monthly Dashboard</a>
                    </li>
                    {{!-- <li>
                        <a href="/dashboard"><i class="fa fa-fw fa-bar-chart-o"></i> Annual Dashboard</a>
                    </li> --}}
                     {{!-- <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gear"> Settings</i><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#"><i class="fa fa-fw fa-user"> </i> Profile</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-file-pdf-o"></i> Export PDF</a>
                            </li>
                        </ul>
                    </li> --}}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid" id="chart-container">
                                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Customers
                        </h1>                        
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Customers</h3>
                            </div>
                            <div class="panel-body">
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Company Name</th>
                                            <th>Account #</th>
                                            <th>Property Name</th>
                                            <th>Tracking ID</th>
                                            <th>View Name</th>
                                            <th>Google View ID</th>
                                            <th>View Actions</th>                                           
                                        </tr>

                                            {{#each companyInfo}}
                                        <tr>
                                            <td>{{company_name}}</td>
                                            <td>{{account_number}}</td>
                                            {{#each Properties}}{{#each Views}}
                                            <td>{{../property_name}}</td>
                                            <td>{{../tracking_id}}</td>
                                            <td>{{view_name}}</td>
                                            <td>{{ga_view_id}}</td>
                                            <td>
                                                <form action="/view/edit/{{view.id}}" id="viewEdit"></form>
                                                    <button class="edit btn btn-warning"><span class="fa fa-pencil"></span></button>
                                                </form>
                                                <form action="/view/delete/{{view.id}}" id="viewDelete"></form>
                                                    <button class="delete btn btn-danger"><span class="fa fa-trash-o"></span></button>
                                                </form>
                                            </td>
                                            {{/each}}{{/each}}
                                        </tr>                                   
                                            {{/each}} 
                                    </table>                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
